// Define variable defaults
$body-bg: rgb(180, 180, 180);
$body-color: #111;

// Then import Bootstrap and BootstrapVue SCSS files (order is important)
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/bootstrap-vue/src/index.scss';