//
// Theme Sass variables
//
// @see http://getbootstrap.com/docs/4.1/getting-started/theming/ for more details.
//

// Example how update variables of Bootstrap.
$body-bg: #ffffff;
$body-color: #424923;
$primary: #424923;
$warning: #93a52d;
$danger: #593c12;
