<form>
	<div class="card text-dark">
  		<div class="card-header  bg-success bg-gradient" style="color:balck;font-weight:bold;font-size:1.3em;">
    		Cadastro de Lotes
  		</div>
  	
  		<div class="card-body">
			<div class="row">

			  	<div class="col-md-6">
		    		<label for="no_lote" class="form-label">Lote</label>
		    		<input type="text" class="form-control is-valid" id="no_lote" value="" required>
		    		<div class="valid-feedback">
		      			Preenchimento Obritatório
		    		</div>
		  		</div>

		  		<div class="col-md-6">
		    		<label for="ds_lote" class="form-label">Descrição</label>
		    		<input type="text" class="form-control is-valid" id="ds_lote" value="" required>
		    		<div class="valid-feedback">
		      			Preenchimento Obritatório
		    		</div>
		  		</div>

			</div>

		</div>

		<div class="card-footer text-muted bg-success bg-gradient">
			<div class="col-12">
		    	<button class="btn btn-light" type="submit">Salvar</button>
		  	</div>
		</div>

	</div>  
</form>